/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}

/*Link Styles*/
a {
	text-decoration: none;
}

/*Section Styles*/
body {
	width: 100%;
	margin: 0 auto;
	text-align: center;
 	font-size: 100%;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	color: #222222;
	background-color: #f4f4f4;
}

.banner {
	background-color: #f4f4f4;
	padding: 2em 1em;
	margin: 1em auto;
}

main {
	margin: 0 auto;
	width: 100%;
	background-color: #ffffff;
}

h2 {
	text-transform: uppercase;
	font-size: 120%;
	padding: 2em 0 1em 0;
	margin: 0;
}

h3 {
	font-size: 150%;
}

ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
}

p {
	font-size: 120%;
}

.main-header {
	background-color: #f4f4f4;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav {
	margin: 0 auto;
	width:95%;
	display: flex;
	flex-direction: column;
}

.nav a {
	font-size: 120%;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #ffffff;
	padding: .5em;
	margin: .15em;
	display: inline-block;
	width: 100%;
}

li a:visited {
	color:inherit;
}

.profile {
	width: 80%;
	margin-bottom: 20px;
	margin: 0 auto;
	display: block;
}

.portfolio {
	background-color: #ffffff;
	width: 100%;
	}

.portfolio li {
	width: 98%;
	margin: 2%;
	}

.portfolio img {
	width: 95%;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0 auto;
	display: block;
}

.skills {
	background-color: #f4f4f4;
	padding-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
}
.skills ul {
	margin: 0;
}
.skills li {
	display: inline-block;
	background: #343434;
	color: #ffffff;
	padding: .5em .75em;
	margin: 2px;
	border-radius: 6px;
}

.contact {
	font-size: 110%;
	background-color: #f4f4f4;
	width: 100%;
	padding-bottom: 3em;
	padding-left: 1em;
	padding-right: 1em;
}

.contact p {
	font-family: 'Lato', sans-serif;
	width: 80%;
	margin: 2em auto;
}

footer {
	margin: 1em 1em;
	padding: 2em 1em 1em;
	border-top: 2px solid #cccccc;
}

.footer-nav ul{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
	float: right;
}

.footer-nav {
	display: flex;
	justify-content: space-around;
  	margin: 0 auto;
  	padding: 0;	
}

.footer-nav a {
	font-weight: bold;
	text-transform: uppercase;
	font-size: .8em;
	margin: 0px;
}

#footer-name {
    display: block;
    margin-right: auto;
    font-weight: bold;
    font-size: 100%;
}

.nav-hidden {
	display: none;
}

/*Style for tablet screens - 768px*/
@media(min-width: 768px){

	.banner {
		padding-bottom: 4em;
	} 

	.nav {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
	}

	.nav li {
		flex-direction: row;
		margin-right: 1em;
		margin-left: 1em;
	}

	.nav a{
		background: none;
		font-size: 100%;
		padding-left: 1em;
		padding-right: 1em;
	}

	.banner p{
		width: 55%;
		float: left;
		text-align: left;
		margin: auto;
	
	}
	.profile {
		float: right;
		width: 40%;
	}

	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}

	.portfolio li {
		width: 48%;
		margin: 1%;
		float: left;

	}

	.portfolio p {
		width: 80%;
		margin: auto;
	}

	footer {
		margin-bottom: 5em;
	}
	.nav-hidden {
		display: inline-block;
	}

	#back-to-top {
		display: none;
	}

	.nav-hidden a {
		margin-right: 3em;
	}
}
/*Style for larger screens - 1025px*/
@media(min-width: 1025px) {

	.main-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 95%;
	}

	.name {
		width: 8em;
	}

	.nav {
		display: flex;
		justify-content: flex-end;
	}
	.nav li {
		margin-right: 0;
	}

	.nav a{
		background: none;
		font-size: 100%;
		padding-left: 1em;
	}

	main {
		width: 95%;
	}

	.banner {
		width: 95%;
	}
	.banner p{
		font-size: 150%;
	}

	.portfolio li {
		width: 31%;
		margin: 1%;
		float: left;
	}

	.portfolio p {
		width: 85%;
		margin: auto;
	}

	h2 {
		padding-top: 4em;
	}

	footer {
		margin: 1em auto;
		width: 95%;
	}
}
















